main{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid black;
}
.main-head{
    display: flex;
    justify-content:center;
    align-content: space-around;

}
.main-head .search-box{
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 0%;


}
.main-head .search-box input{
    appearance: none;
    display: block;
    border: none;
    width: 100%;
    max-width: 600px;
    background: none;
    outline: none;
    padding: 16px;
    border-radius: 999px;
    background-color: #EEE;
    transition: 0.4s;

}

.main-head .search-box input ::placeholder{
            color:#888;
}

.main-head .search-box input :focus,:valid{
                color: rgb(199, 33, 185);
}

main .pelicula-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    margin: 32px -8px 8px;

    
}
